.demo-container {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  border: 1px solid var(--vp-c-divider);
  position: relative;
  z-index: 1; /* just for demo, to prevent tooltips go out of container */
}

.demo-container-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
